.carousel{
    width: 25vw !important;
    height: 25vh !important;
}
.raisedbox { 
    padding: 10px;
    border: 1px solid #77aaff;
    box-shadow:  -1px 1px #77aaff,
         -2px 2px #77aaff,
         -3px 3px #77aaff,
         -4px 4px #77aaff,
         -5px 5px #77aaff;
}
.resp{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 1300px) {
    .resp{
        display: flex;
        flex-direction: column;
    }
  }