<div>
    <mat-paginator (page)="handlePageEvent($event)" showFirstLastButtons="false" [length]="length" [pageSize]="24"
        aria-label="Select page">
    </mat-paginator>
    <div style="overflow-y: auto; height: 60vh;">
        <div *ngIf="resp && resp.data && resp.data.products" class="resp" >

            <div fxLayout="column">
                <div *ngFor="let item of resp.data.products; let i = index;" >
                
                    <ng-container *ngIf="i%2==0" [ngTemplateOutlet]="outlet" [ngTemplateOutletContext]="{item: item}">
                    </ng-container>
                </div>
            </div>
           <mat-divider [vertical]="true" ></mat-divider>
            <div fxLayout="column">
                <div *ngFor="let item of resp.data.products; let i = index;" >
                
                    <ng-container *ngIf="i%2==1" [ngTemplateOutlet]="outlet" [ngTemplateOutletContext]="{item: item}">
                    </ng-container>
                </div>
            </div>
            

        </div>

    </div>
    <ng-template #outlet let-item="item">
        <div  class="raisedbox" fxFlex fxLayout="row" style="height: 95vh; margin: 1rem;">
            <div fxLayout="column">
                <div>
                    <h2 style="width: 25vw;"><b>{{item.name}}</b></h2>
                </div>
                <div style="width: 30vw !important; height: 40vh !important; padding: 2rem;" fxLayout="column">
                    <mat-carousel proportion="100" [loop]="true" [hideArrows]="true" [hideIndicators]="false"
                        [useKeyboard]="true" [useMouseWheel]="true" orientation="ltr" timings="200ms ease-in"
                        [autoplay]="true" interval="3000" color="white">
                        <mat-carousel-slide *ngFor="let slide of item.images; let i = index" [image]="slide"
                            [hideOverlay]="true"></mat-carousel-slide>
                    </mat-carousel>
                </div>
            </div>
            <div fxLayout="column" style="margin-top: 10rem;">
                <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="5px">
                    <p style="color: orange; font-size: 1.1rem;">{{item.price.priceDisplay}}</p>
                    <div fxLayout="row">
                        <p style="font-size: 0.7rem; text-decoration: line-through;">
                            {{item.price.strikeThroughPriceDisplay}}</p>&nbsp;
                        <p style="font-size: 1.1rem; color: red">{{item.price.discount}}%</p>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutGap="5px">
                    <mat-icon style="color: gold;">star_outline</mat-icon>
                    <span>{{item.review.absoluteRating}}&nbsp;({{item.review.count}})</span>
                </div>
                <div>
                    <button mat-raised-button color="primary" (click)="alert()">Add to Cart</button>
                </div>
            </div>
        </div>
    </ng-template>
</div>